.wrapper {
  width: 400px;
  margin-left: 10px;
  margin-right: 10px;
}

.wrapper:hover .caption {
  visibility: visible;
  transform: rotateX(0deg)
}

.card {
  height: 300px;
  width: 400px;
  margin: 20px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
}

.card img {
  height: 300px;
  width: 400px;
  border-radius: 3px;
}

.intro {
  height: 70px;
  width: 300px;
  padding: 6px;
  box-sizing: border-box;
  position: relative;
  bottom: 75px;
  background: rgb(100, 100, 100, .5);
  color: white;
  border-radius: 20px 20px 0px 0px;
  transition: .2s ease-in-out;
  white-space: normal;
  overflow: hidden;
  transform: translateY(0);
}

.intro p {
  visibility: hidden;
  text-align: left;
  font-weight: bold;
  font-family: arial;
  padding-left: 20px;
  opacity: 0;
}

.name {
  font-size: 22px;
  font-weight: bold;
}

.card:hover {
  cursor: pointer;
}

.card:hover .intro {
  height: 300px;
  width: 400px;
  background: black;
  transform: translateY(-225px);
  overflow: scroll;
  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.card:hover .intro p {
  opacity: 1;
  visibility: visible;
  transition: .2s ease-in-out;
}