.bigStyles {
    width: 100%;
    height: 100%;
}

.bigStyles::-webkit-scrollbar { /* For Chrome, Safari and Opera */
    display: none;
}

.styles {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.styles input {
    width: 50%;
    height: 50px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    border: 1px solid #000;
    border-radius: 5px;
}

.styles button {
    width: 50%;
    height: 50px;
    margin: 10px;
    font-size: 15px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.styles button:hover {
    border: 2px solid white;
}

.styles select {
    width: 50%;
    height: 50px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    border: 1px solid #000;
    border-radius: 5px;
}

.listMovies {
    width: 100%;
    height: 400px;
    display: flex;
    overflow-x: auto;
    align-items: center;
    flex-wrap: nowrap;
}
