.bigStyles {
    width: 100vw;
    height: 100vh;
}

.styles {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.listMovies {
    width: 100%;
    height: 400px;
    display: flex;
    overflow-x: auto;
    align-items: center;
    flex-wrap: nowrap;
}
